nav{

    width:100%;
  #plus{
    display:none;

  }
  .fas{
    display:none;
    color:pink;
    font-size:1.4em;
  }

  .nav-menu{
        height:50px;
        list-style-type: none;
        display:flex;
        flex-flow:row nowrap;
        justify-content:flex-end;
        align-items:center;
        
        li{
            &:last-child{padding-right:25px;}
        }
            
        }
        
    a{
        text-decoration:none;
        color:$clr_body;
        padding:16px;
        padding-bottom:17px;
        height:20px;
        &:hover{
            background-color:$clr_rouge;
        }  
    }
    @media screen and(min-width:320px) and (max-width:719px){
        .nav-menu {
           display:none;
           background-color:darken($clr_rouge, 15%);
           flex-flow:row wrap;
           li{
               flex:1 0 100%;
               padding:0;
               background-color:darken($clr_rouge, 15%);
               &:last-child{padding-right:0;}
               a{
                display:block;
                padding:16px;
                padding-bottom:17px;
                height:20px;
               }
           }
        }
      .fas{
        display:block;
      }
        label{
            display:block;
            font-size:40px;
            padding:5px 0 5px 10px;
            color:pink;
            cursor:pointer;
        }
        #plus:checked ~ .nav-menu {
            display:flex;
            position:absolute;
            
         }
           
    } 
} 