/*------------------------------------------------------------------------------------
# Auteur : FXEB
# Description : introduction a SASS

------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------ 
# Index

# Variable
# Layout
# Menu
# Style
------------------------------------------------------------------------------------*/

   
/*------------------------------------------------------------------------------------
# Variable
------------------------------------------------------------------------------------*/
@import 'variable';

/*------------------------------------------------------------------------------------
# Mixins
------------------------------------------------------------------------------------*/
@import 'mixin';

/*------------------------------------------------------------------------------------
# Extend
------------------------------------------------------------------------------------*/
@import 'extend';

/*------------------------------------------------------------------------------------
# Layout
------------------------------------------------------------------------------------*/
@import 'layout';

/*------------------------------------------------------------------------------------
# entete
------------------------------------------------------------------------------------*/
@import 'entete';

/*------------------------------------------------------------------------------------
# Menu
------------------------------------------------------------------------------------*/
@import 'menu';

/*------------------------------------------------------------------------------------
# Contenu principale
------------------------------------------------------------------------------------*/
@import 'mainContent';

/*------------------------------------------------------------------------------------
# Footer
------------------------------------------------------------------------------------*/
@import 'footer';