@charset "UTF-8";
/*------------------------------------------------------------------------------------
# Auteur : FXEB
# Description : introduction a SASS

------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------ 
# Index

# Variable
# Layout
# Menu
# Style
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
# Variable
------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------
# Mixins
------------------------------------------------------------------------------------*/
/* ----------------------------------------- */
/* ------  Un premier exemple de mixin ----- */
/* ----------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  opacity: 0.9;
}

/*
  Le resultat CSS produit par SCSS

  .modal-background {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        background: black;
        opacity: 0.9;
}

*/
/* ---------------------------------------------------------------------------------------------------------------------
Réutilisabilité
------------------------------------------------------------------------------------------------------------------------
Le but principal d'un mixin est de rendre un ensemble de propriétés réutilisables.
Comme les variables Sass (où vous définissez vos valeurs sur un seul emplacement), 
les mixins Sass vous permettent de définir des propriétés sur un seul emplacement.
Le mixin précédent peut être réutilisé dans d'autres règles:
------------------------------------------------------------------------------------------------------------------------ */
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.product-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.image-pattern {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* ------------------------------------------------------------------------------  
Paramètres
--------------------------------------------------------------------------------- 
Les mixins étant des fonctions on peut y intégrer des paramètres, 
Par exemple, on peut généraliser la propriété border-radius pour 
l'adapter à plusieurs navigateurs.
-------------------------------------------------------------------------------- */
.box {
  border-radius: 3px;
}

/*----------------------------------------------------------------------------------- 
Paramètres facultatifs
-------------------------------------------------------------------------------------
Si vous souhaitez qu'un paramètre ait une valeur par défaut tout en offrant la possibilité
d'en définir un occasionnellement, vous pouvez créer des paramètres facultatifs:
------------------------------------------------------------------------------------- */
/* Utilisation du mixin */
div.highlighter-rouge {
  position: relative;
}

div.highlighter-rouge:before {
  background: #aaa;
  color: rgba(0, 0, 0, 0.5);
  content: "Code";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

div.highlighter-rouge.css {
  position: relative;
}

div.highlighter-rouge.css:before {
  background: #0ff;
  color: white;
  content: "CSS";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

div.highlighter-rouge.scss {
  position: relative;
}

div.highlighter-rouge.scss:before {
  background: #c69;
  color: white;
  content: "SCSS";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  height: 1rem;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 1rem;
  padding: 0 0.5em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

/*
    Permet de définir un pseudo élément
*/
/*
    Voici un exemple d'utilisation sans aucun argument 
    (vous verrez également ce mixin utilisé dans certains de nos 
    autres mixins ci-dessous également).
*/
div.mon_pseudo {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

div.mon_pseudo::after {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: #0f0;
}

/*
Ce mixin élimine tous les tracas de la création d'un HTML/CSS triangle 
que vous verrez  apparaître dans la plupart des info-bulles traditionnelles, 
le tout sans images, vous spécifiez simplement sa couleur, la taille que vous voulez, 
la direction vers laquelle il pointera et c'est fait!
*/
.mon_triangle {
  content: "";
  display: block;
  position: absolutr;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0f0;
  margin-right: -10px;
}

/* ------------------------------------------------------------------------------ */
/*  @content                                                                      */
/* ------------------------------------------------------------------------------ */
/* @content permet l'extension d'un Mixin. Nous pouvons passer un bloc de code css
   à un Mixins avec l'utilisation de @content. En bref, @content rend cela possible.

   grid() est un mixin qu'on va étendre avec @content
*/
/* @content permet d'intégrer du code de plus */
/*
Et maintenant, notre grille Mixin peut prendre du code CSS intégré. 
Un exemple de cas d'utilisation est celui des media queries. 
Voici un exemple
*/
/*------------------------------------------------------------------------------------
# Extend
------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------ */
/* @extend  
/* ------------------------------------------------------------------------------ */
/* Un  @extend permet d'hériter des propriétés CSS d'un autre sélecteur           */
/* ------------------------------------------------------------------------------ */
.small-uppercase, .modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/*
  .small-uppercase,
  .modal-background,
  .product-link,
  .image-pattern{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  */
/* ---------------------------------------------------------------------------- */
/* Différence avec les mixins                                                   */
/* ---------------------------------------------------------------------------- */
/* 
Il y a 2 différences:
La règle @extend n'a pas de paramètres. Les mixins en ont.
La règle @extend combine des sélecteurs. Les mixins non.
*/
/*
La liste des propriétés est simplement répétée autant de fois que le 
@include small-uppercase () est appelé.

Un  @extend est plus efficace, car il n'écrit les propriétés 
communes qu'une seule fois.
On peut optimiser @extend avec un «placeholder»
en précédent notre extension avec «%»
*/
.modal-background, .product-link, .image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

.modal-background,
.product-link,
.image-pattern {
  color: lightslategrey;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 12px;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------------
# Layout
------------------------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.entete, main, footer {
  width: 100%;
}

.entete {
  background-color: #ab4058;
}

nav {
  background-color: #290f15;
}

main {
  background-color: white;
}

footer {
  background-color: #290f15;
}

/*------------------------------------------------------------------------------------
# entete
------------------------------------------------------------------------------------*/
.entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 20vh;
  width: 100%;
}

.entete .legend {
  margin-left: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.entete h1 {
  font-size: 4em;
}

.entete h2 {
  margin-left: 10px;
  font-size: 2em;
}

.rechercher {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  overflow: hidden;
}

.rechercher .textInput {
  width: 98%;
  height: 2em;
  margin: -15px 1% 0;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  -webkit-transition: all .5s linear .1s;
  transition: all .5s linear .1s;
}

.rechercher .textInput:focus {
  border-top: 1px #290f15 solid;
  border-right: 1px pink solid;
  border-bottom: 1px pink solid;
  border-left: 1px #290f15 solid;
}

.rechercher label[for="recherche"] {
  margin-left: 95%;
  cursor: pointer;
  -webkit-transition: all .1s linear .1s;
  transition: all .1s linear .1s;
}

.rechercher label[for="recherche"] .fas {
  font-size: 1.4em;
  transition-origin: 50% 50%;
  -webkit-transition: font-size .1s linear;
  transition: font-size .1s linear;
}

.rechercher #recherche:checked ~ label[for="recherche"] {
  width: 0;
}

.rechercher #recherche:checked ~ label[for="recherche"] .fas {
  font-size: 0;
}

.rechercher #recherche:checked ~ .textInput {
  display: block;
}

.rechercher > * {
  vertical-align: bottom;
  display: inline-block;
}

/*------------------------------------------------------------------------------------
# Menu
------------------------------------------------------------------------------------*/
nav {
  width: 100%;
}

nav #plus {
  display: none;
}

nav .fas {
  display: none;
  color: pink;
  font-size: 1.4em;
}

nav .nav-menu {
  height: 50px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-menu li:last-child {
  padding-right: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 16px;
  padding-bottom: 17px;
  height: 20px;
}

nav a:hover {
  background-color: #612432;
}

@media screen and (min-width: 320px) and (max-width: 719px) {
  nav .nav-menu {
    display: none;
    background-color: #290f15;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  nav .nav-menu li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 0;
    background-color: #290f15;
  }
  nav .nav-menu li:last-child {
    padding-right: 0;
  }
  nav .nav-menu li a {
    display: block;
    padding: 16px;
    padding-bottom: 17px;
    height: 20px;
  }
  nav .fas {
    display: block;
  }
  nav label {
    display: block;
    font-size: 40px;
    padding: 5px 0 5px 10px;
    color: pink;
    cursor: pointer;
  }
  nav #plus:checked ~ .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
}

/*------------------------------------------------------------------------------------
# Contenu principale
------------------------------------------------------------------------------------*/
main section .global {
  background-color: white;
  border: 1px black solid;
}

.container {
  background-color: #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.container p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: 15px;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #999999;
}

.container p:nth-child(odd) {
  background-color: #cccccc;
}

@media screen and (min-width: 720px) and (max-width: 1169px) {
  .container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 719px) {
  .container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .container p {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

/*------------------------------------------------------------------------------------
# Footer
------------------------------------------------------------------------------------*/
footer {
  border: 1px solid darkgrey;
}

footer .global ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  list-style: none;
}

footer .global ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 50px;
  display: block;
  padding: 15px;
}

@media screen and (min-width: 720px) {
  footer .global ul {
    padding-top: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .global ul li {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */